@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root, html, body {

  transition: background-color 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  scroll-behavior: smooth;
}

div, a, button, p, h1, h2, h3, h4, span, svg {
  transition-property: background-color, border-color, color, fill, stroke, opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}